<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/submit" method="post">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number"><br><br>
        <label for="email_address">Email Address:</label><br>
        <input type="email" id="email_address" name="email_address"><br><br>
        <label for="num_participants">Number of Participants:</label><br>
        <input type="number" id="num_participants" name="num_participants"><br><br>
        <label for="num_greater_than_13">Number of Participants greater than 13 years:</label><br>
        <input type="number" id="num_greater_than_13" name="num_greater_than_13"><br><br>
        <label for="num_between_6_and_12">Number of Participants between 6 and 12 years:</label><br>
        <input type="number" id="num_between_6_and_12" name="num_between_6_and_12"><br><br>
        <label for="num_below_6">Number of Participants below 6 years:</label><br>
        <input type="number" id="num_below_6" name="num_below_6"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
